block variables
    - let id = ""

.modal(id=id)
    .modal__content
        .modal__header
            block header
        .modal__body
            block body
        .modal__footer
            block footer