@import "chat_conversation.scss";
@import "chat_replybar.scss";

.rightpanel {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 100%;

  .topbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: $size-vertical-padding-topbar $size-horizontal-padding-topbar;
    height: $size-topbar;
    min-height: $size-topbar;
    border-bottom: $size-border-width solid $color-border;
    position: relative;

    &__leftside {
      text-align: left;
    }

    &__rightside {
      .dropdown {
        display: inline-block;

        &__open-button {
          color: $color-button;
          background: $color-background;
          border: none;
          cursor: pointer;

          &:hover {
            color: darken($color: $color-button, $amount: 15%);
          }
        }

        &__button {
          display: block;
          width: 100%;
          border: none;
          font-size: 1.6rem;
          background-color: #fff;
          padding: 1rem;
          text-align: left;

          &:last-child {
            border-radius: 0 0 0 0.5rem;
          }

          &:hover {
            background-color: darken($color: #fff, $amount: 15%);
          }

          &:active {
            background-color: $color-active;
            color: #fff;
          }

          i {
            width: 4rem;
            text-align: left;
          }
        }

        &__content {
          display: none;
          position: absolute;
          top: calc(100% + $size-border-width);
          right: 0;
          box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          border-radius: 0;
          border-bottom-left-radius: $size-border-radius;
          z-index: 2000;

          &_show {
            display: block;
          }
        }
      }
    }
  }
}
