extends layouts/error_page.pug

block variables
    - let title = "Страница не найдена"
    - let errorCode = "404"
    - let errorExplanation = "Не туда попали"
    - let errorLink = "chat.pug"
    - let errorLinkText = "Назад к чатам"