extends layouts/error_page.pug

block variables
    - let title = "Ошибка сервера"
    - let errorCode = "500"
    - let errorExplanation = "Мы уже фиксим"
    - let errorLink = "chat.pug"
    - let errorLinkText = "Назад к чатам"