extends layouts/page.pug

block variables
    - let title = "Ошибка сервера"

block content
    div.centerwrapper.centerwrapper-transparent
        div.centerwrapper__header
            h2 500
        div.centerwrapper__content
            p Мы уже фиксим
        div.centerwrapper__footer
            div
                a(href="chat.pug") Назад к чатам