extends layouts/page.pug

include components/chat/message.pug
include components/chat/chatbutton.pug

block variables
    - let title = "Чат"
    - let name = "Alexander Berezin"
    - let status = "online"

block content
    .chat
        .leftpanel
            .leftpanel__header
                a.leftpanel__profilebutton(href="profile.pug")
                    <i class="fas fa-cog fa-2x"></i>
                input.leftpanel__searchfield(type="search" placeholder="Поиск...")
            .leftpanel__chats
                - let bar = 0;
                while bar < 50
                    +chatButton({
                        name: 'Alexander Berezin',
                        message: 'Hello world!...',
                        date: 'Now',
                        count: '1',
                        image: './images/img_avatar.png'
                    })
                    +chatButton({
                        name: 'Daniel Berezin',
                        message: 'Hello world!...',
                        date: '12:00',
                        count: '99',
                        image: './images/img_avatar2.png'
                    })
                    - bar++;
        .rightpanel
            .topbar
                .topbar__leftside
                    p= name
                    p= status
                .topbar__rightside
                    .dropdown
                        button.dropdown__open-button
                            <i class="fas fa-ellipsis-v fa-2x"></i>
                        .dropdown__content
                            include components/chat/add_user_modal.pug
                            button.dropdown__button(id="add_user_button").
                                #[i(class="fas fa-user-plus")]
                                Добавить пользователя
                            include components/chat/del_user_modal.pug
                            button.dropdown__button(id="del_user_button").
                                #[i(class="fas fa-user-minus")]
                                Удалить пользователя
                            include components/chat/del_chat_modal.pug
                            button.dropdown__button(id="del_chat_button").
                                #[i(class="fas fa-trash")]
                                Удалить чат              
            .conversation
                -let foo = 0;
                while foo < 50
                    +sentMessage({
                        msg: 'Hello, world!Hello, world!Hello, world!Hello, worHello, world!ld!Hello, world!Hello, world!',
                        time: '12:00'
                    })
                    +receivedMessage({
                        msg: 'Hello, world!Hello, world!Hello, world!Hello, world!Hello, world!Hello, world!Hello, world!',
                        time: 'Yesterday at 6:00 pm'
                    })
                    - foo++;
            .replybar
                .dropup
                    button.dropup__open-button
                        i(class="fas fa-paperclip fa-2x")
                    .dropup__content
                        button.dropup__button(id="attach_photo_video_button").
                            #[i(class="fas fa-photo-video")]
                            Фото или видео
                        button.dropup__button(id="attach_file_button").
                            #[i(class="far fa-file")]
                            Файл
                        button.dropup__button(id="attach_geolocation_button").
                            #[i(class="fas fa-location-arrow")]
                            Геолокация
                input.replybar__message(type="text" name="message" placeholder="Сообщение...")
                button.replybar__send-button
                    i(class="fas fa-paper-plane fa-2x")

block script
    script(src="./scripts/chat.js" type="module")