extends layouts/profile_page.pug

block variables
    - let title = "Изменить пароль"
    - let login = "alex"
    - let email = "alex@foo.bar"
    - let firstName = "Александр"
    - let lastName = "Березин"
    - let displayName = "Alex"
    - let phone = "+7 (888) 123-45-67"
    - let backUrl = "profile.pug"

block profile_header
    .profile__avatar

block profile_body
    .field-wrapper 
        span Старый пароль
        input.profile__field(type="password" name="oldPassword" placeholder="...")
    .field-wrapper 
        span Новый пароль
        input.profile__field(type="password" name="newPassword" placeholder="...")
    .field-wrapper 
        span Повторите новый пароль
        input.profile__field(type="password" placeholder="...")

block profile_footer
    button.button.button_blue Сохранить
    