extends layouts/profile_page.pug

block variables
    - let title = "Изменить пароль"
    - let login = "alex"
    - let email = "alex@foo.bar"
    - let first_name = "Александр"
    - let last_name = "Березин"
    - let display_name = "Alex"
    - let phone = "+7 (888) 123-45-67"
    - let back_url = "profile.pug"

block profile_header
    .profile__avatar

block profile_body
    div.foo
        span Старый пароль
        input.profile__field(type="password" name="oldPassword" placeholder="...")
    div.foo
        span Новый пароль
        input.profile__field(type="password" name="newPassword" placeholder="...")
    div.foo
        span Повторите новый пароль
        input.profile__field(type="password" placeholder="...")

block profile_footer
    button.btn.btn-blue Сохранить