extends layouts/page.pug

block variables
    - let title = "Изменить пароль"
    - let login = "alex"
    - let email = "alex@foo.bar"
    - let first_name = "Александр"
    - let last_name = "Березин"
    - let display_name = "Alex"
    - let phone = "+7 (888) 123-45-67"

block content
    .profile
        .profile__header
            .profile__avatar
        .profile__content
            div.foo
                span Старый пароль
                input.profile__field(type="password" name="oldPassword" placeholder="...")
            div.foo
                span Новый пароль
                input.profile__field(type="password" name="newPassword" placeholder="...")
            div.foo
                span Повторите новый пароль
                input.profile__field(type="password" placeholder="...")
        .profile__footer.profile__footer_centered
            button.btn.btn-blue Сохранить