extends layouts/page.pug

block variables
    - let title = "Регистрация"

block content
    div.centerwrapper.centerwrapper-shadowed
        div.centerwrapper__header
            h2 Регистрация
        div.centerwrapper__content
            form
                input.input-field(type="email", name="email" placeholder="Почта")
                input.input-field(type="text", name="login" placeholder="Логин")
                input.input-field(type="text", name="first_name" placeholder="Имя")
                input.input-field(type="text", name="second_name" placeholder="Фамилия")
                input.input-field(type="text", name="phone" placeholder="Телефон")
                input.input-field(type="password", name="password" placeholder="Пароль")
                input.input-field(type="password", name="password_confirmation" placeholder="Пароль (ещё раз)")
        div.centerwrapper__footer
            button.btn.btn-blue(disabled) Зарегистрироваться
            div
                a(href="signin.pug") Войти

block script
    script(src="./scripts/signup.js" type="module") 