.dropdown {
  display: inline-block;

  &__open-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__button {
    display: block;
    width: 100%;
    border: none;
    background-color: #f8fafc;
    padding: 1rem;
    text-align: left;

    &:last-child {
      border-radius: 0 0 0 4px;
    }

    &:hover {
      background-color: darken($color: #f8fafc, $amount: 3%);
    }

    &:active {
      background-color: #206bc4;
      color: #fff;
    }

    i {
      width: 1.5rem;
      text-align: left;
    }
  }

  &__content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    // box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(98, 105, 118, 0.16);
    border-bottom: 1px solid rgba(98, 105, 118, 0.16);
    border-radius: 0;
    border-bottom-left-radius: 4px;
    z-index: 2000;

    &_show {
      display: block;
    }
  }
}
