.leftpanel__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(98, 105, 118, 0.16);
  min-height: 60px;
  padding: 0 15px;
}
