.avatar {
  cursor: pointer;
  display: inline-block;
  background-color: #ddd;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
}
