extends ../../layouts/modal.pug

block variables
    - id = "add_user_modal"

block header
    h3 Добавить пользователя
block body
    input.text-input(placeholder="Имя пользователя")
block footer
    button.button.button_blue Добавить