extends ../../layouts/modal.pug

block variables
    - id = "del_user_modal"

block header
    h3 Удалить пользователя
block body
    input.text-input(placeholder="Имя пользователя")
block footer
    button.button.button_red Удалить